@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Kode+Mono:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}

body{
  background-color: #f9f9f9;
}

.container{
  max-width: 1280px;
  margin: auto;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header{
  width: 100%;
  padding: 60px 4px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

header.rolagem{
  background-color: whitesmoke;
  padding: 20px 4px;
}

header.rolagem a, header.rolagem i{
  color:black
}

header  i{
  font-size: 30px;
  color: black;
}
header ul{
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 40px;
  font-weight: bold;
}

header ul li a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: red;
}

h2:hover{
  color: red;
  cursor: pointer;
}

h3:hover{
  color: red;
  cursor: pointer;
}

h4:hover{
  color: red;
  cursor: pointer;
}

.banner{
  height: 50vh;
  background-image: url(../img/rosa1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;


}

.banner h1{
  color: black;
  font-size: 4em;
  white-space: nowrap;
  overflow: hidden;
}

.banner h1 span{
  color: red;
}


.banner .typing-animation {
  animation: blinkCursor  500ms infinite steps(40)  
  normal, typing 8s steps(40) 1s normal both;
}


@keyframes typing {
  from{
    width: 0;
  }
  to {
    width: 25em;
  }
  
}

@keyframes blinkCursor {
  from{
    border-right-color: red;
  }
  to {
    border-right-color: transparent;
  }

}

section .videoSwiper{
  filter: drop-shadow(0 50px 20px #0009);
  width: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

 .card-book{
  margin: 20px 20px 15px 30px;
  background-color: #f9f9f9;
}

.listLivros h2{
  text-align: center;
  font-size: 40px;
}

.listLivros .livro img{
  width: 130px;
  border-radius: 15px;
  filter: drop-shadow(0 50px 20px #1d1819);
}

.listLivros{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.listLivros .livro{
  background-color:  #f9f9f9;
  padding: 20px;
  border-radius: 20px;
}

.listLivros .livro img:hover{
  -webkit-transform: scale(1.1);
 transform: scale(1.1);
}

.listLivros h2{
  font-weight: 500;
}

.listLivros span{
  color: red;
} 

#about {
  background-color: #f9f9f9;
  margin:100px;
}

.about-content {
  flex: 1;
}

.about-content h2 {
  color: #333;
  font-size: 28px;
}

.about-content p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.about-content ul li {
  color: #666;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

article{
  width: auto;
  height: 35vh;
  display: flex;
  justify-content: center;
}

.container-about .about-content h2{
  padding-bottom: 50px;
}

#card{
  display: flex;
  justify-content: center;

  transform-style: preserve-3d;
  transition: all .5s;
}

.face{
  width: 100px;
  height: 100px;  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  border-radius: 10px;
  filter: drop-shadow(0 50px 20px #1d1819);
}

.face img{
  height: 180px;
  width: 150px;
  border-radius: 10px;
}

#front{
  transform: rotateY(180deg);
}

#back{
  backface-visibility: hidden;
}

.flip{
  transform: rotateY(180deg);
}

  section{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
  }

  .slide-container{
    max-width: 1120px;
    width: 100%;
    background-image: url(../img/rosa1.jpg);
    padding: 40px 0;

  }

  .slide-content{
    margin: 0 40px;
  }

  .card{
    width: 320px;
    border-radius: 25px;
    background-color: #f9f9f9;
    border: 1px solid red;
  }

  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }

  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }

  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;

  }

  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .name{
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }

  .form{ display: flex;justify-content: center;}
  .contact{width: 100%; max-width: 500px;}
  .box-form{display: flex;flex-direction: column;}
  .field{
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
  }
  textarea{
    height: 150px;
  }


  #btnVoltarAoTopo {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    font-size: 24px; 
    cursor: pointer; 
    transition: opacity 0.3s; 
}

#btnVoltarAoTopo:hover {
    background-color: #0056b3; 
}

#btnVoltarAoTopo:active {
    transform: translateY(1px); 
}

  footer{
    bottom: 0;
  }

  @media (max-height: 800px) {
    footer{
      position: static;
    }
    header{
      padding-top: 40px;
    }

    .banner {
      text-align: center; 
    }
  
    .banner h1 {
      font-size: 24px; 
    }

    .container-about .about-content h2{
      font-size: 24px;
    }
    .card-book{
      margin: block;
    }
  }

  .footer-distributed{
    background-color: #f9f9f9;
    box-sizing: border-box;
    widows: 100%;
    text-align: center;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
  }

  .footer-distributed .footer-left,  .footer-distributed 
  .footer-right{
    display: inline-block;
    vertical-align: top;

  }

  .footer-distributed .footer-left{
    width: 30%;
  }

  .footer-distributed h3{
    color: #707070;
    font-weight: bold; 
    margin: 0;
  }

  .footer-distributed h3 span{
    color: red;
  }

  .footer-distributed .footer-links{
    color: #efefef;
    margin: 20px 0 12px;

  }

  .footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: #707070;
  }

  .footer-distributed .footer-company-name{
    color: #707070;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

.footer-distributed .footer-right{
  width: 30%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color: #707070;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color: #707070;
  font-size: 18px;
  font-weight: bold; 
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 20px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #231D1D;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover{
  background-color: red;
}

.footer-links a:hover{
  color: red;
}


@media screen and (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    width: 100%;
    text-align: center; 
    margin-bottom: 20px; 
  }

  .footer-distributed .footer-left {
    order: 1; 
  }

  .footer-distributed .footer-right {
    order: 2; 
  }
}
